:root{
    --colour-style1-base: rgba(230,230,230,0.7);
    --colour-style1-button1: rgba(240,240,240,.7);
    --colour-style1-button2: rgba(250,250,250,1);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Gothic A1', sans-serif;
}

html, body{
    font-size: 40px;
    background: royalblue;
}

#container-main {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#main-fx-overlay1{
    display: none;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(270deg, #939393, #757575, #4a4a4a, #1e1e1e);
    background-size: 800% 800%;
    -webkit-animation: mainFXOverlay1 30s ease infinite;
    -moz-animation: mainFXOverlay1 30s ease infinite;
    animation: mainFXOverlay1 30s ease infinite;  
}

#main-fx-overlay2{
    background: linear-gradient(201deg, rgba(148, 148, 148, 0.07) 0%, rgba(148, 148, 148, 0.07) 50%,rgba(83, 83, 83, 0.07) 50%, rgba(83, 83, 83, 0.07) 100%),linear-gradient(192deg, rgba(176, 176, 176, 0.08) 0%, rgba(176, 176, 176, 0.08) 50%,rgba(180, 180, 180, 0.08) 50%, rgba(180, 180, 180, 0.08) 100%),linear-gradient(48deg, rgba(185, 185, 185, 0.1) 0%, rgba(185, 185, 185, 0.1) 50%,rgba(243, 243, 243, 0.1) 50%, rgba(243, 243, 243, 0.1) 100%),linear-gradient(65deg, rgba(172, 172, 172, 0.09) 0%, rgba(172, 172, 172, 0.09) 50%,rgba(209, 209, 209, 0.09) 50%, rgba(209, 209, 209, 0.09) 100%),linear-gradient(4deg, rgba(224, 224, 224, 0.03) 0%, rgba(224, 224, 224, 0.03) 50%,rgba(49, 49, 49, 0.03) 50%, rgba(49, 49, 49, 0.03) 100%),linear-gradient(228deg, rgba(152, 152, 152, 0.03) 0%, rgba(152, 152, 152, 0.03) 50%,rgba(130, 130, 130, 0.03) 50%, rgba(130, 130, 130, 0.03) 100%),linear-gradient(163deg, rgba(170, 170, 170, 0.08) 0%, rgba(170, 170, 170, 0.08) 50%,rgba(232, 232, 232, 0.08) 50%, rgba(232, 232, 232, 0.08) 100%),linear-gradient(152deg, rgba(12, 12, 12, 0.05) 0%, rgba(12, 12, 12, 0.05) 50%,rgba(161, 161, 161, 0.05) 50%, rgba(161, 161, 161, 0.05) 100%),linear-gradient(302deg, rgba(48, 48, 48, 0.1) 0%, rgba(48, 48, 48, 0.1) 50%,rgba(195, 195, 195, 0.1) 50%, rgba(195, 195, 195, 0.1) 100%),linear-gradient(90deg, rgb(144, 14, 253),rgb(74, 115, 255));
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    animation: mainFXOverlay2 30s ease infinite;
    pointer-events: none;
}

@-webkit-keyframes mainFXOverlay1 {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
@-moz-keyframes mainFXOverlay1 {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
@keyframes mainFXOverlay1 {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}

@keyframes mainFXOverlay2 {
    0%{opacity:0.8}
    50%{opacity:1}
    100%{opacity:0.8}
}

#container-topbar{
    display: flex; 
    height: 50px;
    width: 100%;
    z-index: 99999999999;
}

#container-topbar-left{
    display: flex;
    width: 100%;
    margin-left: 20px;
}

#container-topbar-right{
    display: flex; 
    margin-right: 20px;
    width: 100px;
}

#container-calculator{
    z-index: 3;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    height: 800px;
    width: 80vw;
    max-width: 500px;
    background: rgba(230,230,230,0.7);
    background: var(--colour-style1-base);
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.31);
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.31);
}

#container-display{
    height: 200px;
    text-align: right;
}

#container-display-settings{
    display: flex;
    justify-content: flex-end;
    height: auto;
    font-size: 0.6rem;
    padding: 5px 5px 0 0;
}

#display-infobar{
    height: auto;
    font-weight: 300;
    font-size: 0.4rem;
    text-align: right;
    margin: 5px 10px 0 10px;
    overflow: auto;
    white-space: nowrap;
}

#container-display-stream{
    padding: 5px 10px 5px 0;
}

#container-controls{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 4px;
    height: 100%;
    padding: 10px;
}

/* HEADINGS */
h4{
    font-size: 0.4rem;
    font-weight: 500;
    text-transform: uppercase;
}

/* LOGO */
.logo-header{
    font-size: 0.8rem;
    margin: 0 5px;   
}

/* IMAGES / FA ICONS */
.img-fa-top{   
    background: none;
}

.icon-settings-cog{
    opacity: 0.35;
    transition: opacity .25s ease-in-out;
}
.icon-settings-cog:hover{
    opacity: 1;
}

.clip-path-cog{
    clip-path: url(#svgCog);
}

/* BUTTONS */
.button-main{
    border: none;
    font-size: 1rem;
    transition: all .2s ease-out;
}

.button-main:hover{
    background: rgba(0, 17, 255, 0.04);  
}

.button-main:focus{
    background-color: rgba(0, 17, 255, 0.2);
}

.button-style-1{
    background: var(--colour-style1-button1);
}

.button-style-2{
    background: var(--colour-style1-button2);
}

.btn-settings-cog{
    border: none;
    background: none;
}

.fa-backspace{
    pointer-events: none;
}


.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}
  
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
.slider:before{
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
@media (min-width: 320px) and (max-width: 880px) {
 
    #container-main{
        justify-content: flex-start;
        height: 100vh;
        width: 100vw;
    }

    #container-calculator{
        height: 95vh;
        width: 90vw;   
        max-width: initial;
    }

    #container-controls{
        height: calc(100% - 200px);
    }

    #container-topbar{
        display: none;
    }   
}

/* SETTINGS WINDOW */

#wrapper-settings{
    z-index: 99999999;
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    pointer-events: none;
      
}

#container-wrapper-fx{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.8s ease-out;

}

#container-settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(235,235,235,0.97);;
    height: 200px;
    width: 40%;
    margin: auto 0; 
    padding: 8px 10px 10px 10px;
}

#settings-title{
    display: flex;
    width: 100%;
}


#settings-title-text{
    
    width: 100%;
    text-align: center;
    margin: auto auto auto 25px;
}

#btn-settings-closex{
    height: 25px;
    width: 25px;
    border: none;
    background: var(--colour-style1-button2);
}

#settings-contents{
    height: 100%;
    font-size: 0.5rem;
}

#settings-contents-options{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    align-items: center;
    
}

.settings-text{
    font-size: 0.5rem;
    font-weight: 300;
}

#settings-close{
    height: 100px;
}

#btn-settings-close{
    background: var(--colour-style1-button2);
    border: none;
    width: 75px;
    height: 30px;

}

.settings-fade-in{
    opacity: 1 !important;
}

